# Ignora arquivos XML e HTML gerados
*.xml
*.html

# Ignora arquivos de cache e diretórios de build
.DS_Store
*.log
/build/
/dist/
reports/
geckdriver/
screenshots/

# Ignora arquivos de ambientes virtuais
venv/
.env
venv
log
output
report
geckodriver/
selenium-screenshot
/TesteRobot/Robot-Framework/Card23331CadastrarNovaDIretoria/resources/config.resource

# Ignora dependências do Robot Framework
__pycache__/
.robot/
